@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 94%;
    --foreground: 231 48% 15%;
    --card: 0 0% 100%;
    --card-foreground: 231 48% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 48% 15%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 10% 90%;
    --secondary-foreground: 231 48% 20%;
    --muted: 231 10% 90%;
    --muted-foreground: 231 20% 45%;
    --accent: 122 39% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 85%;
    --input: 231 20% 85%;
    --ring: 231 48% 48%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 231 48% 5%;
    --foreground: 0 0% 98%;
    --card: 231 48% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 231 48% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 60%;
    --primary-foreground: 231 48% 10%;
    --secondary: 231 30% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 231 30% 15%;
    --muted-foreground: 231 10% 65%;
    --accent: 122 39% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 30% 20%;
    --input: 231 30% 20%;
    --ring: 231 48% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}